@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    
    background-size: cover;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ffffff;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    background: url(./assets/img/IMG_2638.png) no-repeat center;
}

.container {
    width: 420px;
    background-color: transparent;
    border: 2px solid;
    border-radius: 10px;
    color: black;
    padding: 30PX 40PX;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.logo {
    width: 150px;
    display: block;
    margin: 0 auto 20px auto;
    background: url(uema-logo.png) no-repeat center;
}

.input-box {

    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;

}

.input-box input {
    position: absolute;
    width: 100%;
    height: 100%;
    background: transparent;
    border-radius: 10px;
    border: 2px solid rgb(145, 145, 145);
    outline: none;
    font-size: 16px;
    padding: 0 10px;
    color: black;
}

.login {
    width: 100%;
    height: 50px;
    border: none;
    background: #000080;
    color: white;
    font-size: 18px;
    border-radius: 40px;
    cursor: pointer;
    margin-top: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.login:hover {
    background: #111ec9;
    color: #ffffff;
    transition: 0.7s;
}